html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "biko";
}

@font-face {
  font-family: "Pokemon";
  src: url("./components/fonts/pokemon/pokemonSolid.ttf") format("TrueType");
}

@font-face {
  font-family: "biko";
  src: url("./components/fonts/biko/Biko_Regular.otf") format("OpenType");
}